* {
    padding: 0;
    margin: 0;
}

/* Body Styles */
body {
    background-color: rgb(241, 241, 243);
}

/* Fira Sans Font Styles */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}
  
.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}
  
.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}
  
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
  
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}
  
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}
  
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}
  
.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}
  
.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}
  
.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}
  
.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}
  
.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}
  
.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}
  
.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}
  
.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}
  
.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}
  
.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}
  
.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}

/* Heading-3 Styles */
h3 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Paragraph Styles */
p {
    color: rgba(14, 14, 14, 0.70);
    font-family: "Fira Sans";
    font-size: 13.58px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

/* Button Styles */
.primary-btn {
    padding: 14.429px 28.858px;
    border-radius: 6.79px;
    border: none;
    color: white;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

/* Header Styles */
header {
    margin: 60px 0 67.9px;
}

.header-banner {
    display: flex;
    align-items: center;
    gap: 54.32px;
    width: 1086.4px;
    padding: 67.9px 84.875px;
    border-radius: 20.37px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(198, 228, 214);
}

.header-banner .header-banner-content {
    flex: 3 1 0;
}

.header-banner .header-banner-content-title {
    margin-bottom: 20.37px;
    color: rgb(14, 14, 14);
    font-size: 47.53px;
}

.header-banner .header-banner-content-subtitle {
    margin-bottom: 13.58px;
    color: rgba(14, 14, 14, .5);
    font-size: 20.37px;
}

.header-banner .header-banner-content-cta {
    background-color: rgb(0, 106, 80);
    font-size: 15.278px;
}

.header-banner .header-banner-img {
    flex: 2 1 0;
}

.header-banner .header-banner-img img {
    width: 100%;
}

/* Vision Section Styles */
.vision {
    width: 1086.4px;
    margin: 0 auto 27.16px;
}

.vision .vision-title {
    margin-bottom: 20.37px;
}

.vision .vision-description {
    margin-bottom: 27.16px;
}

.vision .vision-card-container {
    display: flex;
    align-items: start;
    gap: 20.37px;
}

.vision .vision-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 0;
    height: 250px;
    padding: 27.16px;
    border-radius: 13.58px;
}

.vision .vision-card:nth-child(1) {
    background-color: rgba(84, 144, 245, .2);
}

.vision .vision-card:nth-child(2) {
    background-color: rgb(198, 228, 214);
}

.vision .vision-card:nth-child(3) {
    background-color: rgb(247, 235, 207);
}

.vision .vision-card img {
    width: 54.32px;
    margin-bottom: 20.37px;
}

.vision .vision-card-title {
    margin-bottom: 10.185px;
    color: rgba(14, 14, 14, .8);
    font-size: 16.975px;
}

.vision .vision-card-description {
    margin-bottom: auto;
}

.vision .vision-card:nth-child(1) .vision-card-btn {
    background-color: rgb(84, 144, 245);
}
.vision .vision-card:nth-child(2) .vision-card-btn {
    background-color: rgb(9, 161, 92);
}
.vision .vision-card:nth-child(3) .vision-card-btn {
    background-color: rgb(255, 194, 57);
}

/* Quoto Section Styles */
.quote {
    width: 1086.4px;
    padding: 40.74px 20.37px;
    border-radius: 13.58px;
    border: 1px solid rgba(14, 14, 14, .15);
    margin: 0 auto 67.9px;
    box-sizing: border-box;
    background-color: white;
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20.37px 28px;
}

.quote .quote-text {
    margin-bottom: 10.185px;
}

.quote .quoted-person {
    margin-bottom: 3.395px;
    color: rgba(14, 14, 14, .8);
    font-size: 16.975px;
    line-height: 1.2;
}

/* News Section Styles */
.news {
    width: 1086.4px;
    margin: 0 auto 67.9px;
}

.news .news-title {
    margin-bottom: 20.37px;
}

.news .news-description {
    margin-bottom: 27.16px;
}

.news .news-card-container {
    display: flex;
    flex-direction: column;
    gap: 20.37px;
}

.news .news-card:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 27.16px;
    padding: 40.74px;
    border-radius: 20.37px;
    background-color: white;
}

.news .news-card:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 27.16px;
    padding: 40.74px;
    border-radius: 20.37px;
    background-color: white;
}

.news .news-card-img {
    flex: 7 1 0;
}

.news .news-card-img img {
    width: 100%;
    border-radius: 20.37px;
}

.news .news-card-content {
    flex: 13 1 0;
}

.news .news-card-content-title {
    margin-bottom: 10.185px;
    color: rgba(14, 14, 14, .8);
    font-size: 27.16px;
}

.news .news-card-content-img {
    width: 113.733px;
    margin-bottom: 10.185px;
}

.news .publish-time {
    display: inline-block;
    margin-bottom: 10.185px;
    color: rgba(14, 14, 14, .7);
    font-size: 13.58px;
    line-height: 1.5;
}

.news .news-card-content-description {
    margin-bottom: 27.16px;
}

.news .news-card-content-btn {
    background-color: rgb(0, 106, 80);
}

/* Donate Section Styles */
.donate {
    width: 1086.4px;
    margin: 0 auto 67.9px;
    text-align: center;
}

.donate .donate-title {
    margin-bottom: 20.37px;
}

.donate .donate-description {
    margin-bottom: 27.16px;
}

.donate .amount-card-container {
    display: flex;
    justify-content: center;
    gap: 20.37px;
    margin-bottom: 27.16px;
}

.donate .amount-card {
    display: block;
    padding: 33.95px;
    border: 1px solid rgba(14, 14, 14, .15);
    border-radius: 13.58px;
    background-color: white;
    color: rgba(14, 14, 14, .8);
    font-size: 33.95px;

}

.donate .amount-card:hover {
    background-color: rgb(198, 228, 214);
}

.donate .other-amount {
    display: block;
    width: 875.91px;
    padding: 16.975px 33.95px;
    border-top: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.149);
    border-left: none;
    border-right: none;
    margin: 0 auto 27.16px;
    box-sizing: border-box;
    color: rgba(14, 14, 14, .8);
    font-size: 16.975px;
    text-align: inherit;
}

.donate .donate-btn {
    background-color: rgb(0, 106, 80);
    font-size: 15.278px;
}

/* Newsletter Section Styles */
.newsletter {
    width: 1086.4px;
    padding: 67.9px 84.875px;
    border-radius: 20.37px;
    margin: 0 auto 67.9px;
    box-sizing: border-box;
    background-color: rgb(198, 228, 214);
    text-align: center;
}

.newsletter .newsletter-title {
    margin-bottom: 13.58px;
}

.newsletter .newsletter-description {
    margin-bottom: 20.37px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    margin-bottom: 20.37px;
}

.newsletter .email-input {
    width: 441.35px;
    padding: 15.278px 33.95px;
    border: none;
    border-radius: 6.79px 0 0 6.79px;
    font-family: "Fira Sans";
    font-size: 13.58px;
    font-style: normal;
    font-weight: 400;
}

.newsletter .subscribe-btn {
    border-radius: 0 6.79px 6.79px 0;
    background-color: rgb(0, 106, 80);
    font-size: 15.278px;
}